<div class="Home">
  <h1 class ="Home-title">Welcome to Todo-Home Page</h1>
  <h3 class="Home-authenticate">
    If you are new user <%= link_to "sign-up", new_user_path %></h1>

  <h1 class="Home-authenticate">
    If you are an extising user <%= link_to "sign-in", new_sessions_path %></h1>
</div>
