<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="todo-app.css">
  <title>Todo-Manager-Application</title>
</head>

<body>
  <main class="TodoPageHead">
    <article>
      <h1 class=TodoPage-Title>My To-do List</h1>
      <%= form_with(url: "/todos", method: "post",class: "AddTodo") do %>
        <input class="AddTodo-Text" type="text" placeholder="What's Next?" name="todo_text">
        <input class="AddTodo-Date" type="date" name="date_submission">
        <input class="AddTodo-Button" type="submit" value="Add">
      <% end %>

      <%= render partial:"todo-section", locals: {
       todo_title:"Overdue",
       todos:Todo.overdue,
       show_date_submission: true
      } %>
      <%= render partial:"todo-section", locals: {
       todo_title:"Due Today",
       todos:Todo.due_today,
      show_date_submission: false
      } %>
      <%=render partial:"todo-section", locals: {
      todo_title:"Due Later",
      todos:Todo.due_later,
      show_date_submission: true
     } %>

      </body>

</html>
