.Home{
  margin: auto;
  width: max-content;
}
.Home-authenticate{
  margin-top: 20px;
  font-size: 30px;
  margin-left: 30px;
}
.Home-title{
  margin-top: 20px;
  font-size: 50px;
  color: rgb(136, 53, 53);
}

.Flash-error {
  color: darkred;
  margin: auto;
  width: max-content;
  display: flex;
}
