.Home{
  margin: auto;
  width: max-content;
  margin-top: 80px;
}
.Home-authenticate{
  margin-top: 20px;
  font-size: 20px;
  margin-left: 30px;
}
.Home-title{
  margin-top: 40px;
  font-size: 40px;
  color: rgb(136, 53, 53);
}
.UserHeader {
  padding: 10px;
  background-color:lightgray;
  font-size: 14px;
  margin-top: 20px;
  margin-left: 650px;
  margin-right: 550px;
  display: flex;
  justify-content: space-between;
}
