<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="todo-app.css">
  <title>Todo-Manager-Application</title>
</head>

<body>
  <main class="TodoPageHead">
    <article>
      <h1 class=TodoPage-Title>My To-do List</h1>
      <section class=AddTodo>
        <input class=AddTodo-Text type="text" placeholder="What's Next?">
        <input class="AddTodo-Date" type="date">
        <input class="AddTodo-Button" type="button" value="Add">
      </section>
      <section class=TodoSection>
        <div class="TodoSectionTitle">
          <p class="TodoSectionTitle-text">Due Today</p>
          <p class="TodoSectionTitle-RemainingCount">0/4</p>
        </div>
        <ul>
          <li class="TodoItem">
            <label class="TodoItem-Container">
              <input class="TodoItem-Checkbox" type="checkbox">
              Submit SaaS 201 project
              <p class="TodoItem-Status">Overdue</p>
              <a class="TodoItem-Delete" href="javascript:">
                <img class="TodoItem-Trashbin" src="trash.png">
              </a>
            </label>
          </li>
          <li class="TodoItem">
            <label class="TodoItem-Container">
              <input class="TodoItem-Checkbox" type="checkbox">
              Call accountant
              <a class="TodoItem-Delete" href="javascript:">
                <img class="TodoItem-Trashbin" src="trash.png">
              </a>
            </label>
          </li>
        </ul>
      </section>
      <section class=TodoSection>
        <div class="TodoSectionTitle">
          <p class="TodoSectionTitle-text">Due Tommorow</p>
          <p class="TodoSectionTitle-RemainingCount">0/3</p>
        </div>
        <ul>
          <li class="TodoItem">
            <label class="TodoItem-Container">
              <input class="TodoItem-Checkbox" type="checkbox">
              Refill groceries
              <a class="TodoItem-Delete" href="javascript:">
                <img class="TodoItem-Trashbin" src="trash.png">
              </a>
            </label>
          </li>
        </ul>
      </section>
      <section class=TodoSection>
        <div class="TodoSectionTitle">
          <p class="TodoSectionTitle-text">Remaining</p>
          <p class="TodoSectionTitle-RemainingCount">0/3</p>
        </div>
        <ul>
          <li class="TodoItem">
            <label class="TodoItem-Container">
              <input class="TodoItem-Checkbox" type="checkbox">
              Type Something
              <p class="TodoItem-Duedate">jan21</p>
              <a class="TodoItem-Delete" href="javascript:">
                <img class="TodoItem-Trashbin" src="trash.png">
              </a>
            </label>
          </li>
          <li class="TodoItem">
            <label class="TodoItem-Container">
              <input class="TodoItem-Checkbox" type="checkbox">
              Type Something
              <p class="TodoItem-Duedate">jan22</p>
              <a class="TodoItem-Delete" href="javascript:">
                <img class="TodoItem-Trashbin" src="trash.png">
              </a>
            </label>
          </li>
          </li>
          <li class="TodoItem">
            <label class="TodoItem-Container">
              <input class="TodoItem-Checkbox" type="checkbox">
              Type Something
              <p class="TodoItem-Duedate">jan23</p>
              <a class="TodoItem-Delete" href="javascript:">
                <img class="TodoItem-Trashbin" src="trash.png">
              </a>
            </label>
          </li>
        </ul>
      </section>
    </article>
    </div>
</body>

</html>
